.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: 500;
  transition: 0.3s;

  &:hover .button__icon {
    transform: translateX(0.25rem);
  }

  &:hover {
    background-color: var(--first-color-alt);
  }

  &__icon {
    transition: 0.3s;
  }

  &__flex {
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__link {
    color: var(--first-color);
    font-weight: var(--font-medium);

    &:hover .button__icon {
      transform: translateX(0.25rem);
    }
  }
}
